.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100vh;
  background-color: #f3e4d7
  
}

.leaflet-container {
  height: 90vh;
  width: 90%;
  margin: 50px;
}

h1 {
  text-align: center;
}
